* {
    margin: 0;
    padding: 0;
}


.img {
    background-image: url('./computer.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



.menu1{
    position: absolute;
    width: 38px;
    height: 20px;
    left: 635px;
    top: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}



.menu2{
    position: absolute;
    width: 53px;
    height: 20px;
    left: calc(50% - 53px/2 - 148.5px);
    top: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;

}


.menu3{
    position: absolute;
    width: 52px;
    height: 20px;
    left: calc(50% - 52px/2 + 148px);
    top: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;
}



.menu4{
    position: absolute;
    width: 26px;
    height: 20px;
    left: calc(50% - 26px/2 + 272px);
    top: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;
}


.vector{
    position: absolute;
    left: 48%;
    top: 30px;
}
.title{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
    font-size: 90px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 64px;


}
.title2{
    width: 100%;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
    font-size: px;
    font-family: 'Roboto';
    font-style: normal; 
    
}
.button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 0;
    font-weight: bold;
    border: 2px solid #00AFDB;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 45%;
    overflow: hidden;
    background-color: #00AFDB;
    

}
.span{
    background:#00AFDB;
    height: 100%;
    width: 100%;
    border-radius: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.elipese{
    
   position: absolute;
   top: 85%;
   left: 47%;
   transform: translateY(-50%);
   text-align: center;
}
 
.vector1{
    
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.vector2{
    position: absolute;
   top: 85%;
   left: 53%;
   transform: translateY(-50%);
   text-align: center;
}

.vector3{
    position: absolute;
    top: 85%;
    left: 56%;
    transform: translateY(-50%);
    text-align: center;
    
}